a:link { text-decoration:none; font-weight:bold; color:#000000; }

a:visited { text-decoration:none; font-weight:bold; color:#000000;}

a:hover { text-decoration:none; font-weight:bold; background-color:#DFDFDF; }

a:active { text-decoration:none; font-weight:bold; background-color:#DFDFDF;}

a:focus { text-decoration:none; font-weight:bold; background-color:#DFDFDF; }


         /* Body */
html, body {
        background-color:#99CCFF;
}



        /* Hintergrund DIVs */
#innerbody {
         background-color:#DFDFDF;
         margin-left:5%;
         margin-right:5%;
         margin-top:2%;
         height:45em;
         overflow:auto;
}
#Menue {
         postition: absolute;
         left:5%;
         top:10em;
         width:10%;
         align:left;
}
#mainpart {
        position: absolute;
        top:10em;
        left:15%;
        right:10em;

        text-align:left;
        padding:1em;
        min-height:60%;
        height:auto;
        overflow: hidden
        width:20%;
}
#mainpartleft {
        position: absolute;
        top:10em;
        left:15%;
        right:50%;

        text-align:left;
        padding:1em;
        min-height:60%;
        height:auto;
        overflow: hidden
        width:20%;
}
#mainpartright {
        position: absolute;
        top:10em;
        left:35%;
        right:10%;

        margin-bottom: 2%;
        text-align:left;
        padding:1em;
        min-height:60%;
        height:auto;
        overflow: hidden
}


         /* Durch JAva auszufüllende Kästen*/
#raumkasten {
         background-color:#FFFFFF;
         OVERFLOW: auto;
         width:50%;
         height:1em;
         border-collapse:collapse;
         border:0.1em solid #000000;
}
#personenkasten {
         background-color:#FFFFFF;
         OVERFLOW: auto;
         width:50%;
         height:10em;
         border-collapse:collapse;
         border:0.1em solid #000000;
}
#detailkasten {
         background-color:#FFFFFF;
         OVERFLOW: auto;
         width:50em;
         height:10em;
         border-collapse:collapse;
         border:0.1em solid #000000;
}
#tabellenkasten {
         background-color:#FFFFFF;
         OVERFLOW: auto;
         width: 50em;
         height: 11.55em;
}





         /* Normaler Text */
p {
         color:#000000;
         margin-left: 10px;
         font-family: Verdana;
         font-style: normal;
         font-variant:small-caps;
         font-size: 100%;
         font-weight:normal;
         text-decoration:normal;
         text-transform:none;
}
         /* Überschriften*/
header {
         color:#000000;
         font-size:150%;
         font-family: Verdana;
         font-style: normal;
         font-variant:small-caps;
         margin-left:50px;
         font-weight:normal;
}
h1 {
         font-size: 200%;
         margin-left:20px;
}
h2 {
         margin-left:20px;
}
h3 {
         font-size: 100%;
}
h4 {
         margin-left:10px;
         font-variant:small-caps;
         font-size: 80%;
         font-weight:normal;
         text-transform:none;

}

         /*Tabelle*/
table {
         float:left;
         border-collapse:collapse;
         border:0,3em solid #000000;
         margin:0 auto;
}
thead {
         background:#DFDFDF;;
}
tbody {
         background:#FFFFFF;

}
tbody th {
         text-align:right;
}
tr {
         height:0.5em;
}
th , td {
          padding:3px ;
          text-align:left;
          color:#000000;
          font-family: Verdana;
          font-style: normal;
          font-variant:small-caps;
          font-size: 75%;
}
.tleft {
         width: 5em;
}
.tlefthead {
         width: 4.7em;
}
.tright {
         width:75em;
}
.trighthead {
         width:60.75em;
}
caption {
         margin-bottom:10px;
         font-weight:bold;
         color:#09c;
}